body {
    height: 100vh !important;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #22a41f;

    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, #24ee42, #d8363a, #dd3675, #b44593); */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, #1bad11, #d8363a, #dd3675, #b44593); */
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.datatable-selector {
    padding-left: 1.125rem !important;
    padding-right: 2.125rem !important;
}