body {
    height: 100vh !important;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #22a41f;

    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, #24ee42, #d8363a, #dd3675, #b44593); */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, #1bad11, #d8363a, #dd3675, #b44593); */
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.datatable-selector {
    padding-left: 1.125rem !important;
    padding-right: 2.125rem !important;
}

/* kebab menu  */

.kebab-menu {
    position: absolute;
    display: inline-block;

    text-align: left;
}

.kebab-icon {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.menu-options {
    display: none;
    position: relative;
    right: 0;
    top: 100%;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    min-width: 120px;
    z-index: 1;
}

.menu-options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.menu-options a:hover {
    background-color: #f0f0f0;
}

.show {
    display: block;
}

.table-options{
    padding: 0 20px !important;
}

/* sidebar color */
.nav-link.active {
    background-color: #0d6efd;
    color: white !important;
}
